:root {

    --blue: #063853;
    --lightBlue: #1683be;
    --darkBlue: #126490;
    --mediumBLue: rgb(15, 90, 130); 

    --orange: #ff8c00;
    --darkOrange: #bc5e00;

    --primaryBG:#ededed;
    --secondaryBG:#f9f9f9;


    --maxWidth:1720px;
    --width:80%;


    --highlightColor: #063853b8;

    --headingColor: white;
    --subHeadingColor: white;
    --textHover: grey;

    --headingSize: 4rem;
    --subheadingSize: 2rem;
    --paragraphSize: 2rem;

    --headingFont: "Unbounded";
    --subheadingFont: "Montserrat";
    --paragraphFont: "Montserrat";

    --translucentBG: rgba(19, 19, 19, 0.8);
    --translucentBGLight: rgba(1, 1, 1, 0.8);
}

html {background-color: var(--primaryBG)}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;

    overflow-x: hidden;

}

body {
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {

    height: 8rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;

    overflow: visible;

}

.navbar__container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    z-index: 1;
    width: 100%;
    width: var(--width);
    max-width: var(--maxWidth);
    margin: 0 auto;

    background-color: var(--secondaryBG);
    border-radius: 30px;
    padding: 15px;


}

.nav__spacer {
    display: none;
}


.navbar__title {
    display: flex;
    list-style: none;

    justify-content: left;

    margin: auto 0;

    font-family: var(--headingFont);
    font-size: x-large;

    color: var(--orange); 
    

    text-decoration: none;
    height: auto;
    width: auto;
    transition: all 0.1s ease;

    grid-column: 1 / span 2;
    grid-row: 1;

}

.navbar__title:hover {
    color: var(--darkOrange);
    transition: all 0.3s ease;
}

.navbar__title__short {
    display: none;

    list-style: none;

    margin: 0 auto;
    padding: 20px;

    font-family: var(--headingFont);
    font-size: x-large;

    color: var(--orange); 
    text-decoration: none;
    height: auto;
    width: max-content;
    transition: all 0.1s ease;

    grid-column:  1;
    grid-row: 1;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;

    grid-column: 3;
    grid-row: 1;

    justify-content: right;
    margin: auto 0;

}


.navbar__links {
    font-family: var(--subheadingFont);
    font-weight: 500;
    font-size: x-large;

    color: black;

    padding-left: 1vw; /*gives extra click room*/
    padding-right: 1vw;

    margin-left: 2vw;/*space between elements*/
    margin-right: 2vw;

    transition: all 0.1s ease;


    border-radius: 0px;

    margin: 0 auto;
}

.navbar__links:hover {
    color: var(--textHover);
    transition: all 0.3s ease;
}


.mobile__nav__toggle {
    display: none;
}


.hero {
    width: var(--width);
    max-width: var(--maxWidth);

    display: flex;
    flex-direction: column;

    padding: var(--edgePadding);

    overflow: hidden;

    margin: 0 auto;
}


.hero__carousel {
    height: auto;
    background-color: var(--secondaryBG);
    border-radius: 15px;

}



.hero__image__wrapper {

    aspect-ratio: 2.5 / 1.2 ;

    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.hero__image__wrapper img {
    align-self:center;
    scale:2;

    &.short {
        scale: 1;
        width: 100%;
        object-fit: cover;
        object-position: center top;

    }
}


.show__details {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;


}

.show__details h3 {
    font-family: var(--headingFont);
    font-size: x-large;
    color: var(--darkBlue);
    padding-right: 40px;
    width:fit-content;
}


.home__split {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    max-width: var(--maxWidth);
    width: var(--width);
    margin: 0 auto;
    margin-top: 50px;

}


.about__jack__description {
    text-align: right;
}

.about__jack__description h2 {
    font-size: 3rem;

    color: var(--lightBlue);

    text-shadow: 2px 2px orange;

    font-family: var(--headingFont);

}

.about__jack__description h3 {

    font-weight: lighter;
    font-style: italic;

    font-size: x-large;
    color: orange;
}


.about__jack__description p {
    font-family: var(--subheadingFont);
    
    margin-top: 2rem;
    font-size: x-large;

}






.recent__work__container {
    grid-column: 1 / span 2;

}

.recent__work__container__text {
    display: flex;
    flex-direction: column;
}

.recent__work__container__text h1 {
    font-family: var(--headingFont);
    font-size: xx-large;
    text-decoration: underline;

    color: var(--lightBlue);

}



.work__holders {
    justify-content: center;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    margin-right: 1rem;

}


.recent__work__container #portfolio__button {
    color: var(--darkBlue);

    font-family: var(--subheadingFont);
    font-weight: 500;
    font-size: x-large;
/*     
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--secondaryTextColor); */

    z-index: 100;

    padding: 5px;
}

.recent__work__container #portfolio__button:hover {
    color: var(--blue);
    transition: all 0.3s ease;
}


/* Project Page ############################################################################################################################## */

.title__container {
    padding: 15px 0 0 0;

    justify-content: center;
    margin: 0 auto;

    text-align: center;

}

.title__container h1 {
    font-family: var(--headingFont);
    font-size: 5rem;

}

.title__container h2 {
    font-family: var(--subheadingFont);
    font-weight: 400;
    font-size: x-large;

    width: 40%;
    margin: 0 auto;

    color: black;
}


.centre__container {
    margin: 0 auto;

    max-width: var(--maxWidth);
    width: var(--width);


    height: auto;
    display: flex;
    flex-direction: column;
}

.credits__container {
    height: auto;
    text-transform: uppercase;

    padding: 20px 0;

}

.credits__container h1 {
    font-family: var(--headingFont);
    font-size: large;
    
}

.credits__container h3 {
    font-family: var(--subheadingFont);
    font-weight: 500;
    font-size: large;
    
    color: rgb(49, 49, 49);
}


.divider {
  border: 2px solid black;
  border-radius: 5px;
}

.production__credits__holder {

    justify-content: center;

    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

    margin-top: 15px;
    margin-bottom: 15px;
    gap: 1rem;
}

.production__credit__container {
    text-align: center;
    width: 24%;
    /* padding: 0px 30px 0 30px; */
}


.production__images__container {
    margin: 0 0.5rem 0.5rem 0;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    gap: 0.5rem;

}


.production__images__container .image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;
    transition: ease 0.3s;

    &.tall {

        grid-row: span 2;

    }

}

.production__images__container .image:hover img {
    scale: 1.03;
}


.full__credits__container {
    margin: 0 auto;
    text-align: center;

    font-family: var(--headingFont);

    padding: 25px 0;

    text-transform: uppercase;

    width: var(--width);
    max-width: var(--maxWidth);

}

.full__credits__container h1 {
    font-size: 3rem;

}

.full__credits__container p {
    font-family: var(--subheadingFont);
    letter-spacing: 2px;
    margin: 0 auto;

    font-size: large;

    padding: 15px 0;

    font-weight: 600;

}

.full__credits__container h2 {
    font-size: x-large;
    padding-top: 60px;

    font-weight: 600;

    color: black;

}

/* Portfolio Page ############################################################################################################################## */

.portfolio__work__holder {
    max-width: var(--maxWidth);
    width: var(--width);

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 1rem;

    width: 100%;
    margin: 0 auto;

    padding: 1rem;

    min-height: min-content;

    height: auto;
}

/* Footer ############################################################################################################################## */

.footer__container {
    margin-top: 50px;
    background-color: var(--secondaryBG);
    height: 500px;

    align-items: center;

    font-family: var(--subheadingFont);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__upper__section {
    padding: var(--edgePadding);
    gap: 6rem;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;

}

.footer__container img {
    filter: brightness(105%);
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer__lower__section {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem;
    font-size: large;
    height: 40px; 
}

/* Project Thumbnails  ############################################################################################################################## */

.project__thumbnail {
    width: auto;
    height: auto;

    max-width: 350px;
    
    overflow: hidden;

    position: relative;

    border-radius: 5px;
}

.project__thumbnail img {
    width:100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    transition: ease 0.3s;
}

.project__thumbnail:hover img {
    scale: 1.025;
}


.project__thumbnail div {
    background-color: var(--translucentBG);

    position: absolute;

    bottom: 0px;
    width: 100%;

    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.project__thumbnail h1 {

    font-family: var(--headingFont);
    font-size: x-large;
    font-weight: 600;

    text-decoration: none;
}

.project__thumbnail h2 {

    font-family: var(--subheadingFont);
    font-size: x-large;
    font-weight: 300;

    color: whitesmoke;

    text-decoration: none;
}




@media screen and (max-width: 1600px) {
   :root {

    --width: 90%;
  }


    .home__split {
    grid-template-columns: 100%;
    grid-template-rows: 50%, 50%;
    gap: 2rem;
}
}

@media screen and (max-width: 900px) {
    :root {
    }

    .navbar__title {
        font-size: large;
    }

    .navbar__links {
        font-size: large;
    }



    .show__details {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .show__details h3 {
        font-size: x-small;
        padding-right: 20px;
    }

    .project__thumbnail {
        max-width: 175px;
    }

    .project__thumbnail h1 {
        font-size: smaller;
    }

    .project__thumbnail h2 {
        font-size: smaller;
    }

    .work__holders {
        
    }

    .about__jack__description h2 {
        font-size: large;
    }

    .about__jack__description h3 {
        font-size: large;
    }
    .about__jack__description p {
        font-size: small;
    }



    .footer__container {
        height: 300px;
    }

    .footer__lower__section {
        font-size: small;
    }

    .footer__container img {
        width: 200px;
    }



    /* PROJECT PAGE */

    .title__container h1 {
    font-size: 3rem;
    }

    .title__container h2 {
    width: 80%;
    }

    .credits__container h1 {
    font-size: medium;
    }

    .credits__container h3 {
        font-size: medium;
    }

    .production__credit__container {
        text-align: center;
        width: 40%;
    }

    .production__images__container {
    grid-template-columns: repeat(3, 32%);
    }

    .full__credits__container h1 {
        font-size: 2rem;
    }

    .full__credits__container p {
        font-size: medium;
    }

    .full__credits__container h2 {
        font-size: large;
    }

}


@media screen and (max-width: 600px) {

    .navbar {
        width: var(--width);
        max-width: var(--maxWidth);
        margin: 0 auto;
    }

    .navbar__container {

        padding: 0px;
    }

    .navbar__menu {
        right: 0;
        top: 0;

        position: fixed;
        inset: 0 0 0 40%;

        flex-direction: column;
        display: flex;
        background: rgba(15, 90, 130, 0.8);
        backdrop-filter: blur(0.6rem);
        padding-top: 4em;
        z-index: 9000;

        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

    .navbar__menu[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile__nav__toggle {
        position: relative;
        background-color: transparent;
        background-image: url(assets/icons/burger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 2.5rem;
        border: 0;
        aspect-ratio: 1;
        /* right: 3em;
        top: 3.3em; */
        z-index: 9001;

        grid-column: 4;

        margin: auto auto;

        display: block;
    }

    .mobile__nav__toggle[expanded='true'] {
        background-image: url(assets/icons/close.svg);
    }

    .navbar__item {
        padding: 3em 0;
    }

    .navbar__links {
        font-size: xx-large;
        color: white;
    }


    .navbar__container {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        z-index: 1;
        width: 100%;
        margin: 0 auto;
    }

    .navbar__title__short {
        display: flex;
    }

    .navbar__title {
        display: none;
    }


    .recent__work__container {
        width: var(--width);
    }


    .recent__work__container h1 {
        font-size: x-large;
    }
    
    .recent__work__container #portfolio__button {
        font-size: large;
    }


    .project__thumbnail {

        max-width: 150px;

    }

    .project__thumbnail div {

    padding-left: 5px;
    padding-bottom: 5px;
    }   

    .project__thumbnail h1 {
        font-size: small;
    }

    .project__thumbnail h2 {
        font-size: small;
    }

    /* HOME PAGE */
    .about__jack__description h2 {
    text-shadow: 1.5px 1.5px orange;
}



    /* PORTFOLIO PAGE */


    .portfolio__work__holder {
        max-width: 100%;
        gap: 1rem;
        padding: 0;
    }





    
    /* PROJECT PAGE */

    .title__container h1 {
        font-size: 1.7rem;
    }

    .title__container h2 {

        width: 80%;
        font-size: medium;
    }

    .credits__container h1 {
        font-size: small;
    }

    .credits__container h3 {
        font-size: small;
    }


    .production__credits__holder {
        gap: 0.5rem;
    }
    .production__credit__container {
        text-align: center;
        width: 47%;
    }

    .production__images__container {
    grid-template-columns: repeat(2, 49%);
    }

    .full__credits__container h1 {
        font-size: 2rem;
    }

    .full__credits__container p {
        font-size: medium;
    }

    .full__credits__container h2 {
        font-size: medium;
    }

}



























